{% extends "base.html" %}
{% load i18n %}
{% load localeurl_tags %}

{% block header %}
<header id="header" class="container clearfix">

    <a href="/{{ request.LANGUAGE_CODE }}/" id="logo">
        <img src="/static/img/logo.png" alt="AntiDDoS">
    </a>

    {% for lang in LANGUAGES %}
        {% ifequal lang.0 LANGUAGE_CODE %}
            <img src="/static/img/{{ lang.0 }}_bw.png">
        {% else %}
            <a href="{{ request.path|chlocale:lang.0 }}"><img src="/static/img/{{ lang.0 }}.png"></a>
        {% endifequal %}
    {% endfor %}

    <nav id="main-nav">
        
        <ul>
            <li {% block dashboard_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/dashboard/" data-description="Site monitoring">Dashboard</a>
            </li>
            <li {% block billing_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/billing/" data-description="Orders and payments">Billing</a>
            </li>
            <li {% block domains_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/domains/" data-description="Plans and services">Features</a>
            </li>
            <li {% block support_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/support/" data-description="Ticket system">Support</a>

            </li>
            <li>
                <a href="/{{ request.LANGUAGE_CODE }}/accounts/logout/" data-description="Let me out">Sign Out</a>
            </li>
        </ul>


    </nav><!-- end #main-nav -->
    
</header><!-- end #header -->
{% endblock %}

{% block footer-nav %}
<nav id="footer-nav" class="clearfix">

    <ul>
        <li><a href="/{{ request.LANGUAGE_CODE }}/dashboard/">Dashboard</a></li>
        <li><a href="/{{ request.LANGUAGE_CODE }}/billing/">Billing</a></li>
        <li><a href="/{{ request.LANGUAGE_CODE }}/domains/">Features</a></li>
        <li><a href="/{{ request.LANGUAGE_CODE }}/support/">Support</a></li>
        <li><a href="/{{ request.LANGUAGE_CODE }}/accounts/logout/">Sign Out</a></li>
    </ul>

</nav><!-- end #footer-nav -->
{% endblock %}
