{% extends "room/base.html" %}

{% block title %}We are hiring - SmartStart{% endblock %}
{% block billing_li %}class="current"{% endblock %}
    
{% block content %}
<section id="content" class="container clearfix">

    <header class="page-header">

        <h1 class="page-title">Current orders</h1>

    </header><!-- end .page-header -->
    
        <section class="extended-pricing-table col4 featured clearfix">
        <div class="column features-list">
            <ul class="features"> 
                <li>20.12.2012 04:01:11</li>
                <li>21.12.2012 00:00:00</li>

            </ul><!-- end .features -->

            <div class="footer">&nbsp;</div><!-- end .footer -->
            
        </div><!-- end .column.features-list -->

        <div class="column">
            <ul class="features clearfix">
                <li>Plan "Premium" - 100 $</li>
                <li>Plan "Premium" - 100 $</li>
            </ul><!-- end .features -->
        </div><!-- end .column -->

        <div class="column free">
            <ul class="features clearfix">
                <li>xo-company.org</li>
                <li>xo-company2.org</li>
            </ul><!-- end .features -->

        </div><!-- end .column.free -->
            <div class="footer">
                <a class="button" href="#">Pay orders</a>
            </div><!-- end .footer -->

        </section><!-- end .simple-pricing-table -->

<h1 class="page-title">Payments history</h1>
Last 5 payments:
<hr>
        <section class="extended-pricing-table col4 featured clearfix">
        <div class="column features-list">
            <ul class="features"> 
                <li>21.10.2012 04:01:11</li>
                <li>20.11.2012 00:00:00</li>
                <li>21.11.2012 22:42:30</li>
                <li>20.12.2012 00:00:00</li>

            </ul><!-- end .features -->

            <div class="footer">&nbsp;</div><!-- end .footer -->
            
        </div><!-- end .column.features-list -->
        <div class="column">
            <ul class="features clearfix">
                <li>+ 100 $</li>
                <li>- 100 $</li>
                <li>+ 100 $</li>
                <li>- 200 $</li>
            </ul><!-- end .features -->
        </div><!-- end .column -->

        <div class="column free">
            <ul class="features clearfix">
                <li>Udate balance</li>
                <li>Payment xo-company.org</li>
                <li>Udate balance</li>
                <li>Payment xo-company.org</li>
            </ul><!-- end .features -->

        </div><!-- end .column.free -->
            <div class="footer">
                <a class="button" href="#">Update balance</a>
            </div><!-- end .footer -->
            <a href="#"><br>VIEW MORE...</a>
        </section><!-- end .simple-pricing-table -->

<hr>

    <div class="one-fourth last">

        <h4>Have a question?</h4>

        <p>Not a problem! Contact us to let us know how you can help you.</p>

        <h4>
            <em><a href="/{{ request.LANGUAGE_CODE }}/support/" class="button no-bg">Drop us a line <span class="arrow">&raquo;</span></a></em>
        </h4>
        
    </div><!-- end .one-fourth.last -->
    
</section><!-- end #content -->
{% endblock %}