{% extends "room/base.html" %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% for domain in domains %}
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Date');
                data.addColumn('number', 'Access');
                data.addColumn('number', 'Errors');
                data.addRows([
                {% for data in chart %}
                    [new Date{{ data.date }}, {% for site in data.sites %}{% if site.name == domain.name %}{{ site.access }}, {{ site.error }}{% endif %}{% endfor %}],
                {% endfor %}
                ]);

                var options = {
                    title: '',
                    colors: ['#00FF00', '#FF0000'],
                    width: 650,
                    height: 200,
                    hAxis: {minorGridlines: {count: 1}, format: 'HH:mm'}
                };

                var chart = new google.visualization.AreaChart(document.getElementById('chart_{{ domain }}'));
                chart.draw(data, options);
            }
        </script>
    {% endfor %}
{% endblock %}

{% block title %}Antiddos Plans{% endblock %}
{% block jquery %}
<script src="/static/js/jquery.grewform.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('#blacklist').grewform({
            {% for ip in black_ips %}'#black_ip[value="{{ ip }}"]':{
                show:'#black_ip_text'
            },{% endfor %}
        })
    })
</script>
{% endblock %}
{% block dashboard_li %}class="current"{% endblock %}

{% block content %}
<section id="content" class="container clearfix">

    <header class="page-header">

        <h1 class="page-title">Management and Monitoring</h1>

    </header><!-- end .page-header -->
<p><a href="/add/" class="button">+ Add new site</a> &nbsp &nbsp &nbsp Add new site to protect from ddos and others malicious attacks</p>
    <div class="three-fourth">
      {% for domain in domains %}
      <h4 class="acc-trigger"> <a href="#">{{ domain }}</a></h4>
       <div  class="acc-container">
          <ul class="tabs-nav">
            <li class="active">
                <a href="#tab1">Monitoring</a>
            </li>
            <li>
                <a href="#tab2">BlackList</a>
            </li>
            <li>
                <a href="#tab3">WhiteList</a>
            </li>
            <li>
                <a href="#tab4">DNS Records</a>
            </li>

        </ul>
        <div class="tabs-container">

            <div class="tab-content" id="tab1" style="display: block; ">
                <div id="chart_{{ domain }}" style="width: 650px; height: 200px;"></div>
            </div><!-- end #tab1 -->

            <div class="tab-content" id="tab2" style="display: none; ">
                <form id="blacklist">
                    <p class="textarea-block">
                        <label><strong>Search IP in BlackList</strong></label>
                        <input id="black_ip" value="">
                    </p>
                    <p id="black_ip_text" style="display: none">
                        This IP is in black list
                    </p>
                </form>
                <div class="clear"></div>
            </div><!-- end #tab2 -->

            <div class="tab-content" id="tab3" style="display: none; ">
                <p class="textarea-block">
                    <label><strong>Add IPs to WhiteList</strong> (separate by coma)</label>
                    <textarea name="message" id="contact-message" cols="88" rows="3" required></textarea>
                </p>
                <input type="submit" value="Add">

                <div class="clear"></div>
            </div><!-- end #tab3 -->

            <div class="tab-content" id="tab4" style="display: block; ">
                <p>Show current site's DNS records:</p>
                ns.lee01-xoprotect.in
            </div><!-- end #tab4 -->

        </div>
       </div><!-- end .acc_container -->
       {% endfor %}

    </div><!-- end .three-fourth -->

    <div class="one-fourth last">

        <h4>Have a question?</h4>

        <p>Not a problem! Contact us to let us know how you can help you.</p>

        <h4>
            <em><a href="/support/" class="button no-bg">Drop us a line <span class="arrow">&raquo;</span></a></em>
        </h4>
        
    </div><!-- end .one-fourth.last -->
    
</section><!-- end #content -->
{% endblock %}
