{% extends "room/base.html" %}

{% block title %}Antiddos Plans{% endblock %}
{% block domains_li %}class="current"{% endblock %}
    
{% block content %}
<section id="content" class="container clearfix">

    <header class="page-header">

        <h1 class="page-title">Plans and Services</h1>

    </header><!-- end .page-header -->
    
    <div class="-fourth">
        <p><a href="/{{ request.LANGUAGE_CODE }}/add/" class="button">+ Add new site</a> &nbsp; &nbsp; &nbsp; Add new site to protect from ddos and others malicious attacks</p>
        <h4 class="acc-trigger">
        </h4>
       <div class="acc-container"><br>

        <section class="extended-pricing-table col4 featured clearfix">

        <div class="column free">

            <div class="header">
                <h2 class="title">Expiration date</h2>
                <h3 class="price"><span>24 june</span>2013</h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li>Sites</li>
                <li>AntiDDoS support</li>
                <li>AntiProgs support</li>
                <li>Nodes in use</li>
                <li>WAF</li>
                <li>Geoban support</li>
                <li>IPban support</li>
                <li>Whitelist support</li>
                <li>Cache update time</li>
                <li>Compression</li>
                <li>Pictures</li>
                <li>Support</li>
            </ul><!-- end .features -->

        </div><!-- end .column.free -->


        <div class="column featured">

            <div class="header">
                <h2 class="title">Current Plan</h2>
                <h3 class="price"><span>"{{ tariff_name }}"</span></h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li data-tooltip="Tooltip - Optional description can go here!">{{ domains_count }}/{{ tariff.sites }}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% if tariff.antidos %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% if tariff.antiprogs %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{{ tariff.nodes }}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% if tariff.waf %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% if tariff.geoban %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% if tariff.ipban %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% if tariff.whitelist %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{{ tariff.cache }}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% if tariff.compression %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                
                <li data-tooltip="Tooltip - Optional description can go here!">{% if tariff.pictures %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{{ tariff.support }}</li>
            </ul><!-- end .features -->

            
        </div><!-- end .column -->

        <div class="column free">

            <div class="header">
                <h2 class="title">Features</h2>
                <h3 class="price"><span>{{ tariff.price }}$</span>per month</h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
            </ul><!-- end .features -->

        </div><!-- end .column.free -->

            <div class="footer">
                  <a class="button" href="/{{ request.LANGUAGE_CODE }}/dashboard/">View Dashboard</a>
            </div><!-- end .footer -->
            <div class="footer">
                <a class="button" href="/billing/">Update balance</a>
            </div><!-- end .footer -->
            <div class="footer">
                <a class="button" href="/tariff/">Add features</a>
            </div><!-- end .footer -->


        </section><!-- end .simple-pricing-table -->
    
       </div><!-- end .acc_container -->
</section><!-- end #content -->
{% endblock %}
