{% extends "room/base.html" %}

{% block title %}Antiddos Plans{% endblock %}
{% block domains_li %}class="current"{% endblock %}
    
{% block content %}
<section id="content" class="container clearfix">

    <header class="page-header">

        <h1 class="page-title">Sites and Services</h1>

    </header><!-- end .page-header -->
    
    <div class="-fourth">
<p><a href="#" class="button">+ Add new site</a> &nbsp &nbsp &nbsp Add new site to protect from ddos and others malicious attacks</p>
        <h4 class="acc-trigger">
            <a href="#">xo-company.org   until:  24.12.2012</a>
        </h4>
       <div class="acc-container">

        <section class="extended-pricing-table col4 featured clearfix">

        <div class="column free">

            <div class="header">
                <h2 class="title">Expiration date</h2>
                <h3 class="price"><span>24 june</span>2013</h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li><a href="#">Option1</a></li>
                <li><a href="#">Option1</a></li>
                <li><a href="#">Option1</a></li>
                <li><a href="#">Option1</a></li>
                <li>Option1</li>
                <li>Option1</li>
                <li>Option1</li>
                <li>Option1</li>
                <li>Option1</li>
            </ul><!-- end .features -->

        </div><!-- end .column.free -->


        <div class="column featured">

            <div class="header">
                <h2 class="title">Current Plan</h2>
                <h3 class="price"><span>"Pro"</span></h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li  data-tooltip="Tooltip - Optional description can go here!">200</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>

            </ul><!-- end .features -->

            
        </div><!-- end .column -->

        <div class="column free">

            <div class="header">
                <h2 class="title">Features</h2>
                <h3 class="price"><span>100$</span>per month</h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments">&mdash;</li>
                <li data-feature="Comments">&mdash;</li>
                <li data-feature="Comments">&mdash;</li>
                <li data-feature="Comments">&mdash;</li>
                <li data-feature="Comments">&mdash;</li>
            </ul><!-- end .features -->

        </div><!-- end .column.free -->

            <div class="footer">
                  <a class="button" href="#">View Dashboard</a>
            </div><!-- end .footer -->
            <div class="footer">
                <a class="button" href="#">Update balance</a>
            </div><!-- end .footer -->
            <div class="footer">
                <a class="button" href="#">Add features</a>
            </div><!-- end .footer -->


        </section><!-- end .simple-pricing-table -->
    
       </div><!-- end .acc_container -->
    <h4 class="acc-trigger">
            <a href="#">xo-company2.org   until:  02.12.2012</a>
    </h4>

       <div class="acc-container">

        <section class="extended-pricing-table col4 featured clearfix">

        <div class="column free">

            <div class="header">
                <h2 class="title">Expiration date</h2>
                <h3 class="price"><span>24 june</span>2013</h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li><a href="#">Option1</a></li>
                <li><a href="#">Option1</a></li>
                <li><a href="#">Option1</a></li>
                <li><a href="#">Option1</a></li>
                <li>Option1</li>
                <li>Option1</li>
                <li>Option1</li>
                <li>Option1</li>
                <li>Option1</li>
            </ul><!-- end .features -->

        </div><!-- end .column.free -->


        <div class="column featured">

            <div class="header">
                <h2 class="title">Current Plan</h2>
                <h3 class="price"><span>"Pro"</span></h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li  data-tooltip="Tooltip - Optional description can go here!">200</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>
                <li data-tooltip="Tooltip - Optional description can go here!">unlimited</li>

            </ul><!-- end .features -->

            
        </div><!-- end .column -->

        <div class="column free">

            <div class="header">
                <h2 class="title">Features</h2>
                <h3 class="price"><span>100$</span>per month</h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments"><span class="check">&check;</span></li>
                <li data-feature="Comments">&mdash;</li>
                <li data-feature="Comments">&mdash;</li>
                <li data-feature="Comments">&mdash;</li>
                <li data-feature="Comments">&mdash;</li>
                <li data-feature="Comments">&mdash;</li>
            </ul><!-- end .features -->

        </div><!-- end .column.free -->

            <div class="footer">
                  <a class="button" href="#">View Dashboard</a>
            </div><!-- end .footer -->
            <div class="footer">
                <a class="button" href="#">Update balance</a>
            </div><!-- end .footer -->
            <div class="footer">
                <a class="button" href="#">Add features</a>
            </div><!-- end .footer -->


        </section><!-- end .simple-pricing-table -->
</section><!-- end #content -->
{% endblock %}
