{% extends "base.html" %}
{% load localeurl_tags %}
{% load i18n %}

{% block header %}
<header id="header" class="container clearfix">

    <a href="/{{ request.LANGUAGE_CODE }}/" id="logo">
        <img src="/static/img/logo.png" alt="AntiDDoS">
    </a>

    {% for lang in LANGUAGES %}
        {% ifequal lang.0 LANGUAGE_CODE %}
            <img src="/static/img/{{ lang.0 }}_bw.png">
        {% else %}
            <a href="{{ request.path|chlocale:lang.0 }}"><img src="/static/img/{{ lang.0 }}.png"></a>
        {% endifequal %}
    {% endfor %}

    <nav id="main-nav">
        
        <ul>
            <li {% block home_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/" data-description="{% trans "All starts here" %}">{% trans "Home" %}</a>
            </li>
            <li {% block features_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/features/" data-description="{% trans "What we offer" %}">{% trans "Features" %}</a>
            </li>
            <li {% block pricing_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/pricing-tables/" data-description="{% trans "What we charge" %}">{% trans "Pricing" %}</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li {% block login_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/accounts/login/" data-description="{% trans "Enter the system" %}">{% trans "Log In" %}</a>
            </li>
            <li {% block signin_li %}{% endblock %}>
                <a href="/{{ request.LANGUAGE_CODE }}/accounts/register/" data-description="{% trans "Register" %}">{% trans "Sign Up" %}</a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
            <li {% block stat_li %}{% endblock %}>
                <a href="/stat/" data-description="Statistic">Charts</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li>
                <a href="/{{ request.LANGUAGE_CODE }}/dashboard/" data-description="{% trans "Profile" %}">{{ request.user }}</a>
            </li>
            <li>
                <a href="/{{ request.LANGUAGE_CODE }}/accounts/logout/" data-description="{% trans "Let me out" %}">{% trans "Sign Out" %}</a>
            </li>
            {% endif %}
        </ul>

    </nav><!-- end #main-nav -->
    
</header><!-- end #header -->
{% endblock %}

{% block footer-nav %}
<nav id="footer-nav" class="clearfix">

    <ul>
        <li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans "Home" %}</a></li>
        <li><a href="/{{ request.LANGUAGE_CODE }}/features/">{% trans "Features" %}</a></li>
        <li><a href="/{{ request.LANGUAGE_CODE }}/pricing-tables/">{% trans "Pricing" %}</a></li>
        {% if not request.user.is_authenticated %}
        <li><a href="/{{ request.LANGUAGE_CODE }}/accounts/login/">{% trans "Log In" %}</a></li>
        <li><a href="/{{ request.LANGUAGE_CODE }}/accounts/register/">{% trans "Sign Up" %}</a></li>
        {% endif %}
        {% if request.user.is_staff %}
        <li><a href="/stat/">Графики</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li><a href="/{{ request.LANGUAGE_CODE }}/dashboard/">{{ request.user }}</a></li>
        <li><a href="/{{ request.LANGUAGE_CODE }}/accounts/logout/">{% trans "Sign Out" %}</a></li>
        {% endif %}
    </ul>

</nav><!-- end #footer-nav -->
{% endblock %}
