{% extends "general/base.html" %}
{% load i18n %}

{% block title %}Supercharge your site{% endblock %}
{% block home_li %}class="current"{% endblock %}

{% block content %}
<section id="content" class="container clearfix">

    <h2 class="slogan align-center">{% trans "Professional website protection. Security in THREE steps!" %}</h2>

    <section id="features-slider" class="ss-slider">
    
        <article class="slide">
        
            <img src="/static/img/slider/features_img_1.jpg" alt="" class="slide-bg-image" />
            
            <div class="slide-button">
                <span class="dropcap">1</span>
                <h5>{% trans "Registration" %}</h5>
                <span class="description">{% trans "of new member in the system" %}</span>
            </div>
        
            <div class="slide-content">
                <h2>{% trans "Registration" %}</h2>
                <p>{% trans "All you need is to fulfill the registration form and to receive the activation code of your e-mail." %}</p>
                <p><a class="button" href="#">{% trans "Details..." %}</a></p>
            </div>
            
        </article><!-- end .slide (Responsive Layout) -->
    
        <article class="slide">
        
            <img src="/static/img/slider/features_img_2.jpg" alt="" class="slide-bg-image" />
        
            <div class="slide-button">      
                <span class="dropcap">2</span>
                <h5>{% trans "Website connection" %}</h5>
                <span class="description">{% trans "to add your resource in our security space" %}</span>
            </div>
            
            <div class="slide-content">
                <h2>{% trans "Website connection" %}</h2>
                <p>{% trans "There is no need to change your host server or internet provider while connecting your website, adding your website requires only a simple change to your domain’s DNS settings." %}</p>
                <p><a class="button" href="#">{% trans "Details..." %}</a></p>
            </div>
            
        </article><!-- end .slide (HTML5 / CSS3) -->
    
        <article class="slide">
        
            <img src="/static/img/slider/features_img_3.jpg" alt="" class="slide-bg-image" />
        
            <div class="slide-button">
                <span class="dropcap">3</span>
                <h5>{% trans "Security activation" %}</h5>
                <span class="description">{% trans "by selecting the appropriate functionality of protection" %}</span>
            </div>
            
            <div class="slide-content">
                <h2>{% trans "Security activation" %}</h2>
                <p>{% trans "Protective mechanisms can be chosen automatically with tariff plan, as well as most effective to your resource system parameters." %}</p>
                <p><a class="button" href="#">{% trans "Details..." %}</a></p>
            </div>
            
        </article><!-- end .slide (Easily Customisable) -->
    
        <article class="slide">
        
            <img src="/static/img/slider/features_img_4.jpg" alt="" class="slide-bg-image" />
        
            <div class="slide-button">
                <span class="dropcap">&#8734;</span>
                <h5>{% trans "Safe online" %}</h5>
                <span class="description">{% trans "speeding and protection of website from network attacks!" %}</span>
            </div>
            
            <div class="slide-content">
                <h2>{% trans "Safe online" %}</h2>
                <p>{% trans "Protection of website and increase the download speed by using our globally distributed system of malicious traffic filtering" %}</p>
                <p><a class="button" href="#">{% trans "Details..." %}</a></p>
            </div>
            
        </article><!-- end .slide (Unique & Clean) -->
        
    </section><!-- end #features-slider -->

    <h6 class="section-title">{% trans "Attack-ready tools of protection (Technology of protection from attacks)" %}</h6>

    <ul class="projects-carousel clearfix">

        <li>
            <a href="/features/">
                <img src="/static/img/features/cdn.jpg" alt="">
                <h5 class="title"><b>{% trans "Globally distributed network" %}</b></h5>
                <span class="categories">{% trans "Our system is a globally distributed network of servers, which acts effectively to prevent the DdoS attacks" %}</span>
            </a>
        </li>

        <li>
            <a href="/features/">
                <img src="/static/img/features/waf.jpg" alt="">
                <h5 class="title"><b>{% trans "Network attacks Web-filter" %}</b></h5>
                <span class="categories">{% trans "In order to prevent the hacking of website we use WAF with personal settings configuration capability" %}</span>
            </a>
        </li>

        <li>
            <a href="/features/">
                <img src="/static/img/features/speed.jpg" alt="">
                <h5 class="title"><b>{% trans "Website load speed up" %}</b></h5>
                <span class="categories">{% trans "Due to data compression algorithms, web pages load speed increases to 70&#37;" %}</span>
            </a>
        </li>


        <li>
            <a href="/features/">
                <img src="/static/img/features/7-24.jpg" alt="">
                <h5 class="title"><b>{% trans "99.99&#37; online uptime" %}</b></h5>
                <span class="categories">{% trans "HTML-version of your resource is available in major datacenters around the world simultaneously" %}</span>
            </a>
        </li>

    </ul><!-- end .projects-carousel -->

    
</section><!-- end #content -->
{% endblock %}