{% extends "general/base.html" %}
{% load i18n %}

{% block title %}Pricing tables{% endblock %}
{% block pricing_li %}class="current"{% endblock %}

{% block content %}
<section id="content" class="container clearfix">

    <header class="page-header">

        <h1 class="page-title">{% trans "Pricing tables" %}</h1>

    </header><!-- end .page-header -->

    <section class="extended-pricing-table col4 featured clearfix">

        <div class="column features-list">

            <div class="header">&nbsp;</div><!-- end .header -->

            <ul class="features">
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "Sites" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "AntiDDoS support" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "AntiProgs support" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "Nodes in use" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "WAF" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "Geoban support" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "IPban support" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "Whitelist support" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "Cache update time" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "Compression" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "Pictures" %}</li>
                <li data-tooltip="Tooltip - Optional description can go here!">{% trans "Support" %}</li>
            </ul><!-- end .features -->

            <div class="footer">&nbsp;</div><!-- end .footer -->
            
        </div><!-- end .column.features-list -->

        {% for tariff in tariffs %}
        <div class="column free">

            <div class="header">
                <h2 class="title">{{ tariff.name }}</h2>
                <h3 class="price"><span>${{ tariff.price }}</span>{% trans "per month" %}</h3>
            </div><!-- end .header -->

            <ul class="features clearfix">
                <li data-feature="3">{{ tariff.sites }}</li>
                <li data-feature="1">{% if tariff.antidos %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-feature="2">{% if tariff.antiprogs %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-feature="3">{{ tariff.nodes }}</li>
                <li data-feature="4">{{ tariff.waf }}</li>
                <li data-feature="5">{% if tariff.geoban %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-feature="6">{% if tariff.ipban %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-feature="7">{% if tariff.whitelist %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-feature="8">{{ tariff.cache }}</li>
                <li data-feature="9">{% if tariff.compression %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-feature="10">{% if tariff.pictures %}<span class="check">&check;</span>{% else %}&mdash;{% endif %}</li>
                <li data-feature="11">{{ tariff.support }}</li>
            </ul><!-- end .features -->

            <div class="footer">
                <a class="button" href="#">{% trans "Sign Up" %}</a>
            </div><!-- end .footer -->
            
        </div><!-- end .column.free -->
        {% endfor %}
    
    </section><!-- end .extended-pricing-table -->
    
    <hr />

    <div>
        <p><img src="/static/img/payments.png"></p>
    </div><!-- end .one-fourth.last -->

</section><!-- end .extended-pricing-table -->
{% endblock %}