{% extends "base.html" %}

{% block title %}Elements - SmartStart{% endblock %}
{% block login_li %}class="current"{% endblock %}

{% block content %}
<section id="content" class="container clearfix">

	<header class="page-header">

		<h1 class="page-title">Elements</h1>
		
	</header><!-- end .page-header -->
	
	<div class="one-fourth">

		<h4>Accordion</h4>

		<span class="acc-trigger">
			<a href="#">Title Goes Here</a>
		</span>

		<div class="acc-container">
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu.</div>
		</div><!-- end .acc-container -->

		<span class="acc-trigger">
			<a href="#">Title Goes Here</a>
		</span>

		<div class="acc-container">
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu.</div>
		</div><!-- end .acc-container -->

		<span class="acc-trigger">
			<a href="#">Title Goes Here</a>
		</span>

		<div class="acc-container">
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu.</div>
		</div><!-- end .acc-container -->
		
	</div><!-- end .one-fourth -->
	
	<div class="one-fourth">

		<h4>Tabs</h4>

		<ul class="tabs-nav">

			<li class="active">
				<a href="#tab1">First Tab</a>
			</li>

			<li>
				<a href="#tab2">Second</a>
			</li>

			<li>
				<a href="#tab3">Third</a>
			</li>

		</ul><!-- end .tabs-nav -->

		<div class="tabs-container">

			<div class="tab-content" id="tab1">
				1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condim entum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div><!-- end #tab1 -->

			<div class="tab-content" id="tab2">
				2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condim entum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div><!-- end #tab2 -->

			<div class="tab-content" id="tab3">
				3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condim entum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div><!-- end #tab3 -->

		</div><!-- end .tabs-container -->
		
	</div><!-- end .one-fourth -->
	
	<div class="one-fourth">

		<h4>Alert Boxes</h4>

		<p class="error"><strong>Error</strong> - Your message! </p>
		
		<p class="success"><strong>Success</strong> - Your message! </p>

		<p class="info"><strong>Info</strong> - Your message! </p>

		<p class="notice"><strong>Notice</strong> - Your message! </p>
		
	</div><!-- end .one-fourth -->
	
	<div class="one-fourth last">

		<h4>Info Box</h4>

		<div class="infobox">

			<h3>It’s an info box! Your title goes here.</h3>

			<p><a class="button" href="#">Button Text</a></p>

		</div><!-- end .infobox -->
		
	</div><!-- end .one-fourth.last -->

	<div class="clear"></div>

	<hr />
	
	<div class="one-fourth">

		<h4>List Styles</h4>

		<ul class="arrow dotted">
			<li>Arrow List - Aenean nisl orci</li>
		</ul>

		<ul class="arrow-2 dotted">
			<li>Arrow 2 List - Lorem ipsum dolor</li>
		</ul>

		<ul class="circle dotted">
			<li>Circle List - Consectetur adipiscing</li>
		</ul>

		<ul class="check dotted">
			<li>Check List - Aenean nisl orci</li>
		</ul>

		<ul class="check-2 dotted">
			<li>Check 2 List - Aenean nisl orci</li>
		</ul>

		<ul class="star dotted">
			<li>Star List - Lorem ipsum dolor</li>
		</ul>

		<ul class="plus dotted">
			<li>Plus List - Consectetur adipiscing</li>
		</ul>

		<ul class="dash dotted">
			<li>Dash List - Lorem ipsum dolor</li>
		</ul>
		
	</div><!-- end .one-fourth -->
	
	<div class="one-fourth">

		<h4>Dropcaps</h4>

		<p><span class="dropcap">P</span>ras aliquet. Integer faucibus, eros ac molestie placerat, 
		enim tellus varius lacus, nec dictum nunc tortor id urna
		eros ac molestie placerat, enim tellus varius. </p>

		<p><span class="dropcap dark">C</span>ras aliquet. Integer faucibus, eros ac molestie placerat, 
		enim tellus varius lacus, nec dictum nunc tortor id urna
		eros ac molestie placerat, enim tellus varius. </p>
		
	</div><!-- end .one-fourth -->
	
	<div class="one-fourth">

		<h4>Blockquotes</h4>

		<blockquote>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</blockquote>
		
	</div><!-- end .one-fourth -->
	
	<div class="one-fourth last">

		<h4>Buttons</h4>

		<p><a class="button" href="#">Normal Button</a></p>

		<p><a class="button medium" href="#">Medium Button</a></p>

		<p><a class="button large" href="#">Large Button</a></p>
		
	</div><!-- end .one-fourth.last -->
	
</section><!-- end #content -->
{% endblock %}