{% extends "base.html" %}

{% block title %}We are hiring - SmartStart{% endblock %}
{% block features_li %}class="current"{% endblock %}

{% block content %}
<section id="content" class="container clearfix">

	<header class="page-header">

		<h1 class="page-title">Overview</h1>

		<hr />

		<h2 class="page-description">Give us five minutes and we'll supercharge your website.</h2>
		
	</header><!-- end .page-header -->
	
	<div class="three-fourth">


		<p>Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

		<h4 class="acc-trigger">
			<a href="#">AntiDDoS distributed network</a>
		</h4>

		<div class="acc-container">
<img src="/static/img/features/cdn.jpg" alt="">
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.</div>
		</div>

		<h4 class="acc-trigger">
			<a href="#">Web Application Firewall</a>
		</h4>

		<div class="acc-container">
<img src="/static/img/features/waf.jpg" alt="">
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.</div>
		</div>

		<h4 class="acc-trigger">
			<a href="#">Speed optimizer</a>
		</h4>

		<div class="acc-container">
<img src="/static/img/features/speed.jpg" alt="">
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.</div>
		</div>

		<h4 class="acc-trigger">
			<a href="#">100% Uptime</a>
		</h4>

		<div class="acc-container">
<img src="/static/img/features/7-24.jpg" alt="">
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.</div>
		</div>


		<h4 class="acc-trigger">
			<a href="#">Economy on hosting</a>
		</h4>

		<div class="acc-container">
<img src="/static/img/features/money.jpg" alt="">
			<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, condimentum ultrices consequat eu consectetur.</div>
		</div>


	</div><!-- end .three-fourth -->

	<div class="one-fourth last">

		<h4>Have a question?</h4>

		<p>Not a problem! Contact us to let us know how you can help you.</p>

		<h4>
			<em><a href="/contact-us/" class="button no-bg">Drop us a line <span class="arrow">&raquo;</span></a></em>
		</h4>
		
	</div><!-- end .one-fourth.last -->
	
</section><!-- end #content -->
{% endblock %}