{% extends "base.html" %}

{% block title %}Home - Hi-Cloud{% endblock %}
{% block home_li %}class="current"{% endblock %}

{% block content %}
<section id="content" class="container clearfix">

	<h2 class="slogan align-center">Give us five minutes and we'll supercharge your website.</h2>

	<section id="features-slider" class="ss-slider">
	
		<article class="slide">
		
			<img src="/static/img/slider/features_img_1.jpg" alt="" class="slide-bg-image" />
			
			<div class="slide-button">
				<span class="dropcap">1</span>
				<h5>Register in system</h5>
				<span class="description">Activation from email</span>
			</div>
		
			<div class="slide-content">
				<h2>Register in system</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus justo.</p>
				<p><a class="button" href="#">Read More</a></p>
			</div>
			
		</article><!-- end .slide (Responsive Layout) -->
	
		<article class="slide">
		
			<img src="/static/img/slider/features_img_2.jpg" alt="" class="slide-bg-image" />
		
			<div class="slide-button">		
				<span class="dropcap">2</span>
				<h5>Enter site name</h5>
				<span class="description">Which domain need's protection</span>
			</div>
			
			<div class="slide-content">
				<h2>Enter site name</h2>
				<p>Hendrerit eleifend condimentum quis, varius at lacus. Donec ultrices justo scelerisque erat feugiat sed mattis justo volutpat.</p>
				<p><a class="button" href="#">Read More</a></p>
			</div>
			
		</article><!-- end .slide (HTML5 / CSS3) -->
	
		<article class="slide">
		
			<img src="/static/img/slider/features_img_3.jpg" alt="" class="slide-bg-image" />
		
			<div class="slide-button">
				<span class="dropcap">3</span>
				<h5>Tune options</h5>
				<span class="description">What features are needing</span>
			</div>
			
			<div class="slide-content">
				<h2>Choose plan table</h2>
				<p>Etiam at nunc felis, vitae gravida libero. Morbi molestie elit eget metus volutpat vitae bibendum quam lacinia. Maecenas porttitor blandit nisl sit amet blandit. Phasellus porta sodales accumsan.</p>
				<p><a class="button" href="#">Read More</a></p>
			</div>
			
		</article><!-- end .slide (Easily Customisable) -->
	
		<article class="slide">
		
			<img src="/static/img/slider/features_img_4.jpg" alt="" class="slide-bg-image" />
		
			<div class="slide-button">
				<span class="dropcap">4</span>
				<h5>Get SUPERCHARGED</h5>
				<span class="description">After updating DNS records</span>
			</div>
			
			<div class="slide-content">
				<h2>Unique &amp; Clean</h2>
				<p>Fusce porta elit quis nunc mollis ut lacinia eros accumsan. Aenean consequat egestas diam, vel pharetra tellus venenatis in.</p>
				<p><a class="button" href="#">Read More</a></p>
			</div>
			
		</article><!-- end .slide (Unique & Clean) -->
		
	</section><!-- end #features-slider -->

	<h6 class="section-title">Project's features</h6>

	<ul class="projects-carousel clearfix">

		<li>
			<a href="#">
				<img src="/static/img/features/cdn.jpg" alt="">
				<h5 class="title">AntiDDoS distributed network</h5>
				<span class="categories">Your site will get mirror on over 50 nodes all over the world</span>
			</a>
		</li>

		<li>
			<a href="#">
				<img src="/static/img/features/waf.jpg" alt="">
				<h5 class="title">Web Application Firewall</h5>
				<span class="categories">We are building individual security rules for each client</span>
			</a>
		</li>

		<li>
			<a href="#">
				<img src="/static/img/features/speed.jpg" alt="">
				<h5 class="title">Speed optimizer</h5>
				<span class="categories">Each node has a hi-speed communication channels and data compression algorythms</span>
			</a>
		</li>


		<li>
			<a href="#">
				<img src="/static/img/features/7-24.jpg" alt="">
				<h5 class="title">100% Uptime</h5>
				<span class="categories">Your site will get mirror on over 50 nodes all over the world</span>
			</a>
		</li>

		<li>
			<a href="#">
				<img src="/static/img/features/money.jpg" alt="">
				<h5 class="title">Economy on hosting</h5>
				<span class="categories">You do not need pay for powerfull dedicated server or expensive hosting</span>
			</a>
		</li>

	</ul><!-- end .projects-carousel -->

	
</section><!-- end #content -->
{% endblock %}